// Define variables for your color scheme

// Used so far:
$black: rgb(40, 35, 35);
$primary-pink: #EF476F;
$primary-green: #06D6A0;
$light-yellow: #F8FFE5;

$red: #FD1015;
$blue: blue;
$yellow: #FFC65A;
$green: #1EDD88;
$light-gray: #F4F4F4;
$orange: orange;
