// Define variables for your color scheme

// For example:
$black: rgb(40, 35, 35);
$red: #FD1015;
$blue: blue;
$primary-green: #06D6A0;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #EF476F;
$light-gray: #F4F4F4;
$orange: orange;
