<h1> My bookings ðŸ¥¾ </h1>
  <% @bookings.each do |booking| %>
    <%= link_to  booking.life.name , booking_path(booking.id)  %>
    <%= link_to 'ðŸ—‘ï¸', booking_path(booking.id) ,data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
