<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Upload a life", new_life_path, class: "btn btn-primary" %>

<%= link_to "Book a life", lives_path, class: "btn btn-primary" %>
