<div class="page-container">
<div class="intro">
  <h2>Walk a mile in my Shoes</h2>
  <p>"And before you abuse, criticize and accuse,
walk a mile in my shoes" - Joe South</p>
  <h3>Rent a day in the life of...</h3>
  </div>
<div data-controller="map"
  data-map-markers-value="<%=@markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  id="map"
  style="width: 80%; height: 300px; margin: 32px;">
  </div>

  <div class="grid">
    <% @lives.each do |life| %>
      <%= render "livescard", life:life %>
    <% end %>
  </div>
</div>
