<h1>Life of <%= @life.name %></h1>
 <p><%= @life.details %></p>

<%= link_to 'Book this life',  new_life_booking_path(@life.id), class: 'btn btn-warning'%>
<%= link_to 'See all lives',  lives_path, class: 'btn btn-success'%>
